header {
  background-color: #ffffff;
  display: inline-block;
  position: fixed; 
  justify-content: space-between;
  max-width: 1200px;
  text-align: center;
  padding: 10px 0 4px;
  margin: 0 auto; 
  width: 100%;
}

nav {
  text-transform: uppercase;
  font-weight: 400;
}

nav>ul {
  display: flex; 
  list-style-type: none;
  padding: 0; 
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle li .menuicon {
  position: absolute;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  text-align: right; 
  padding: 10px 0;
  border-top: 1px solid #ff7f50;
}

.navtoggle.responsive li:last-child  {
  padding: 0;
}

nav > ul > li > a:visited {
  color: #ff7f50;
  font-weight: 700;
}

.container {
  padding: 0 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.content-holder {
  padding-left: 20px;
}

img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0; 
  display: inline-block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.4;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1em;
  font-weight: 400;
}



picture{
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  color: #994c30;
  /* selected link */
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #f0c7b8;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #b95936;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

button:active {
  color: #994c30;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover .button.contact:focus {
  background-color: #ff7f50;
  color: #ffffff;
}

#resume.button {
 display: inline-block;
 text-align: center; 
}

#copyright {
  font-weight: 700;
  font-size: .75em;
  text-align: left;
}

.container {
  padding: 0 20px;
}

#logo {
  display: inline-block; 
  max-width: 150px;
  text-align: center; 
}

#project img {
  max-width: 1400px;
  box-shadow: 4px 4px 20px 0px rgba(50, 50, 50, 0.5);
}

#project .row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 2px solid #ff7f50;
}

main {
  max-width: 1200px;
  padding-top: 80px;
  margin: 0 auto;
}

.social-icons img {
  width: 25px;
}

footer {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {

  nav>ul>li {
    padding: 10px 10px;
    display: inline-block; 
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  
  header {
    text-align: unset;
    padding: 10px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  main {
    padding-top: 80px;
  }

  .container {
    padding: 0 20px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
  }

  .col-md-6 {
    width: 50%;

  }

  #project img{
    max-width: 300px;
  }
​
  .col-md-3 {
    width: 25%;
  }

  .row:after {
    content: "";
    clear: both;
    display: table;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 26px;
  }


    .navtoggle li:last-child {
      display: none;
    }

    #hero {
      text-align: center;
    }
  
    #hero span {
      display: block;
    }
  
    [class*="col-lg-"] {
      float: left;
    }

    .col-lg-3 {
      width: 25%;
    }

    .col-lg-7 {
      width: 60%;
    }

    #project img{
      max-width: 1400px;
    }
  
    .row:after {
      content: "";
      clear: both;
      display: table;
    }

    .container {
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;
    }

}

